   .bar{
    font-size:18px;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    padding:10px;
  }
.logo{
      width:30px;
      height:30px;
  }
.show{display:inline;visibility: visible;}
.hidden{display:none;visibility:hidden;}
