<ion-header no-border>
  <ion-toolbar>
<img src = './assets/barra.svg'/>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let i of pets">
 <ion-item (click)="irParaPaginaLembretes()" >
    <ion-avatar slot="start" ><img [src]= "i.foto"/></ion-avatar>
    <ion-label>
      <h2><strong>{{i.nome}}</strong></h2>
      <h3>{{i.idade}}</h3>
    </ion-label>
  </ion-item>
  
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
<ion-fab-button>
<ion-icon color="success" class="add" name="add-circle" (click)="irParaPaginaCadastro()" color="primary"> </ion-icon>
</ion-fab-button>
</ion-fab>


</ion-content>
